div .brick{
	width: 85px;
	height: 85px;
	background-color: cyan;
	font-size: 10px;
	font-family: Verdana;
}
div .wrapper{
	display: grid;
	grid-template-columns: 240px 240px 240px;
	
}
table,td {
	border: 1px solid black;
	border-collapse: collapse;
}
input {
	margin-left: 40%;
}