div .brick{
	width: 85px;
	height: 85px;
	background-color: cyan;
	font-size: 20px;
	font-family: Verdana;
	/*display:block;*/
}
div .wrapper{
	display: grid;
	grid-template-columns: 240px 240px 24s0px;
	
}